HTML,BODY {
	background: #fefefe;
    height: 100%;
    font: 300 16px 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
}

A { text-decoration: none; color: #595959; }
A:visited { color: #121212; }

HR { color: #e8e8e8; background-color: #e8e8e8; border-color: #e8e8e8; border: none; height: 1px; }
P { font: 16px sans-serif; }

#container { color: rgba(56, 36, 0, 0.75); margin: 0 auto; text-align: left; background: #fefefe; }

/* Header */
#header { max-width: 1000px; margin: auto; overflow: hidden; padding: 28px 0; text-align: center; }
#header .header-logo H1 { font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 32px; float: left; padding: 0; margin: 0 100px 0 0; }
#header .header-logo H1 SPAN {  }
#header .header-logo H2 { display: none; }

/* Menu */
.nav-container {}
.nav { }
.nav li { display: inline-block; border-right: 1px solid #fff; float: left; line-height: 38px; }
.nav li:last-child { border: 0px none; }
.nav li A { display: inline-block; line-height: 28px; color: rgba(0,0,0, .5); font: 1em 'Roboto', sans-serif; font-weight: 500; }
.nav li A:hover { color: rgba(0,0,0, 1);}
.nav li A:after { color: #e8e8e8; content: "/"; padding: 0 .5em; }
.nav li:last-child A:after { content:  ""; padding: 0;}
.nav .selected { }
.nav .selected A { color:  #000; }

/* Footer */
#footer { min-height: 100px; text-align: center; }
#footer .nav-container { padding: 5px; margin: 0 auto; }
#footer .nav { font-size: .85em; }
#footer .nav LI {float: none; }
#footer .contact-info { width: 400px; margin: 0 auto; }
#footer .contact-info LI {display: inline-block; float: none; margin: 0 .25em; }
#footer .contact-info LI IMG {}

#content { display: block; background: #fefefe; position: relative;  }
#content .content-text { padding: 0; width: auto; max-width: 1000px;  margin: 0 auto; }
#content .content-image {  }

#content .banner-wrapper { position: relative; }
#content .banner { height:  477px; width: 100%; overflow: hidden; position: relative; background: #999; }
#content .banner img { position: absolute; top: 0; left: 0; width:  100%; height: auto; min-height: 477px; }
#content .banner-text H1 { font-family: 'Roboto', sans-serif; font-size: 64px; font-weight: 100; position: absolute; top: 200px; left: 0; right: 0; text-align: center; color: #fff;  }

#content .statement H1 { color: rgba(56, 36, 0, 0.82); font: 36px 'Roboto', sans-serif; font-weight: 100; padding: 36px; text-align: center; }


.content-text H2 { color: #e6a83d; font: 300 24px 'Roboto', sans-serif; padding: 0 17px 12px 0; }
.content-text P { margin: 0 0 24px 0;}

.content-text .strong { color: red; }
.content-text STRONG { color: red; }
.content-text UL { margin: 0 0 5px 0; padding: 0 10px; }
.content-text LI { padding: 1px 7px 2px 0; list-style-type: disc; margin: 0 0 0 29px;  }
.content-text LI UL { margin: 0; }
.content-text LI LI { list-style-type: circle; padding: 4px 0 0 0; }
.content-text UL LI.sub { list-style-type: none;}
.content-text UL LI.sub LI { list-style-type: circle; }
.content-text UL.addons { margin: 0 0 0 20px; }
.content-text UL.addons LI {list-style: disc; margin: 0; padding-left: 0; }
.content-text EM { font-style: italic; font-size: .8em; }
.content-text .col { width: 450px; float: left;  }
.content-text .homepagecol1 { width: 350px; }
.content-text .homepagecol2 { width: 550px; }
.content-text .big-col { width: 675px; float: left;  }
.content-text .small-col { width: 225px; float: left; text-align: center; }
.content-text .text-align { padding-top: 41px; }
.content-text .section { overflow: hidden; clear: both; margin: 0 0 20px 0; }
.content-text .TODO { opacity: .35;}

.content-text CITE { font-style: italic; display: block; padding: 10px 14px; font-size: .9em; }
.content-text IMG.icon { border: 0px none; }

.content-text .large-section { overflow: hidden; clear: both; margin: 0 0 20px 0;  }
.content-text .large-section .tile { width: 250px; }
.content-text .large-section .small-col { width: 275px; }
.content-text .large-section .big-col { width: 625px; }

.content-text UL.buttons { width: 820px; margin: 0 auto; }
.content-text UL.buttons LI { font: bold 1.3em Arial,Helvetica; position: relative; -moz-border-radius: 10px; border-radius: 10px; width: 115px; height: 79px; padding: 11px 10px 10px 100px; background: #fefefe; border: 1px solid #333; margin: 10px 20px; list-style: none; float: left; }
.content-text UL.buttons LI IMG { position: absolute; top: 10px; left: 10px; border: 0px none; }
.content-text UL.buttons LI IMG.alt { position: absolute; top: 10px; right: 10px; left: auto; border: 0px none; }

/* Generic Grid Styling */
.yui3-g-r {  }
.yui3-g-r .summary,
.yui3-g-r .grid-wrapper { padding: 12px 17px; }

.names H4 { padding-top: 0; }

input, select, textarea,
label { float: left; clear: both; margin: 0 0 0 10px; }

textarea { width: 600px; height: 150px; color: #202352; padding: 2px; }
textarea.shorttext  { width: 430px; height: 60px; }
label { margin: 8px 0 2px 10px; font-weight: bold; }
input.text { width: 430px; }
input.shorttext { width: 120px; }

input.button { margin: 10px; }
input[type=submit] { float: none; }
input { color: #202352; padding: 2px; }
div.input-message { float: left; clear: left; margin: 8px 0 2px 10px; }

#emailconfirmation { display: none; }

.slideshow { position: relative; }
.slideshow IMG { display: none; position: absolute; top: 0; left: 0; }
.slideshow .show { display: block; }

#vote { position: absolute; top: 20px; z-index: 500; }
.hide { display: none; }
.show { display: block; }

#hiring { position: absolute; top: 4px; left:  4px; display: none; }

/* Social Icons */
#social-icons { position: relative; top: 10px; display: none;}
#social-icons a { margin: 0 7px 0 0; width: 17px; height: 17px; display: block; float: left; background-image: url(../images/socialIcons.png); background-position: no-repeat; }
#social-icons span { visibility: hidden;}
#facebook {}
#twitter { background-position: -21px 0; }
#blog { background-position: -43px 0; }
#yelp { background-position: -64px 0; }

@media (max-width: 980px) {
    /* Center the Header when it gets smaller */
    #header .header-logo H1 {
        float: none;
        margin: 0;
    }

    #header .nav li {
        float:  none;
    }
}







